.Login {
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: #1B1A26;
	gap: 48em;

	.Login-redirect {
		display: flex;
		text-align: center;
		font-weight: 600;
		color: $white-200;
		gap: 6em;

		span {
			font-size: 16em;
		}

		button {
			font-family: 'Poppins';
			font-weight: 700;
			font-size: 16em;
			border: none;
			color: white;
			background: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
		
	@media (min-width: 1920px) {
		font-size: 1px;
	}
}

