.LeaderboardTag {
	display: flex;
	align-items: center;
	border-radius: 6em;
	min-height: 130em;
	padding: 0 32em;
	background: $background-600;
	gap: 32em;

	.LeaderboardTag-user {
		display: flex;
		align-items: center;
		gap: 32em;

		.LeaderboardTag-rank {
			min-width: 56em;
			height: 56em;
			display: flex;
			align-items: center;
			justify-content: center;
			background: $background-700;
			border-radius: 8em;

			.Rank-value {
				font-family: 'Poppins';
				font-style: normal;
				font-weight: 600;
				font-size: 18em;
				line-height: 100%;
				color: white;
			}
		}

		.UserInfos {
			cursor: pointer;
		}
	}

	.LeaderboardTag-StatWrap {
		width: 100%;
		display: grid;
		grid-template: 100% / repeat(4, 1fr);
	}

	@media (max-width: $laptop) {
		.LeaderboardTag-rank, .UserInfos, .LeaderboardTag-StatWrap {
			font-size: 0.86em;
		}
		.Level-perCentWrap {
			max-width: 150em;
		}
	}

	@media (max-width: $tablet) {
		min-height: auto;
		padding: 24em 24em;
		gap: 18em;
		.LeaderboardTag-user {
			gap: 16em;
		}
		.LeaderboardTag-StatWrap {
			grid-template: repeat(2, 1fr) / repeat(2, 1fr);
			gap: 32em 12em;
			font-size: 0.7em;
		}
	}

	@media (max-width: $phone) {
		flex-direction: column;
		gap: 32em;
	}

	@media (max-width: 375px) {
		.LeaderboardTag-user {
			flex-direction: column;
		}
	}
}