.LeaderboardTag {
	display: flex;
	align-items: center;
	border-radius: 6em;
	padding: 32em;
	background: $background-600;
	gap: 32em;
	cursor: pointer;
	transition: background 100ms;

	.LeaderboardTag-user {
		display: flex;
		align-items: center;
		gap: 32em;

		.LeaderboardTag-rank {
			min-width: 56em;
			height: 56em;
			display: flex;
			align-items: center;
			justify-content: center;
			background: $background-700;
			border-radius: 8em;

			.Rank-value {
				font-family: 'Poppins';
				font-style: normal;
				font-size: 18em;
				line-height: 100%;
				color: white;
			}
		}
	}

	.LeaderboardTag-StatWrap {
		width: 100%;
		display: grid;
		grid-template: 100% / repeat(4, 1fr);

		.Stat--selected {
			opacity: 1;
		}
	}

	&:hover {
		background: #2e3042;
	}

	@media (max-width: $laptop) {
		.LeaderboardTag-user {
			gap: 22em;
		}
		.LeaderboardTag-rank, .UserInfos, .LeaderboardTag-StatWrap {
			font-size: 0.86em;
		}
		.Level-perCentWrap {
			max-width: 150em;
		}
	}

	@media (max-width: $tablet) {
		padding: 24em 24em;
		gap: 32em;


		.LeaderboardTag-user {
			gap: 18em;
		}
		.LeaderboardTag-StatWrap {
			font-size: 0.8em;
			grid-template: 1fr 1fr / 1fr 1fr;
			gap: 28em 0;

			.LeaderboardTag-Stat {
				flex-direction: row;
				justify-content: flex-end;
			}
		}
	}

	@media (max-width: 660px) {
		flex-direction: column;
		.LeaderboardTag-StatWrap {
			grid-template: 1fr 1fr / repeat(2, 1fr);
			gap: 32em 0;

			.LeaderboardTag-Stat {
				justify-content: center;
			}

			.Stat--selected {
				position: static;
				width: auto;
			}
		}
	}

	@media (max-width: $phone) {
		.LeaderboardTag-user {
			gap: 16em;
		}
		.LeaderboardTag-StatWrap {
			grid-template: repeat(2, 1fr) / repeat(2, 1fr);
			gap: 32em 12em;
		}
	}

	@media (max-width: 375px) {
		.Level-percentWrap {
			max-width: 150em;
		}

		.LeaderboardTag-StatWrap > .LeaderboardTag-Stat {
			flex-direction: column;
		}
	}
}