.mainContent-spectate {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 32em;

	.Spectate-filters {
		display: flex;
		justify-content: space-between;

		.input-wrap {
			width: 350em;
		}

		.Filters-menus {
			display: flex;
			gap: 16em;
		}
	}

	.Spectate-content {
		display: flex;
		flex-direction: column;
		height: calc(100% - calc(56em + 48em + 2 * 32em));
		gap: 16em;
		border-radius: 8em;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */

		.Content-Versus {
			display: flex;
			border-radius: 16em;
			background: $background-600;
		}
	}
	.Spectate-content--maxSize {
		height: calc(100% - calc(56em + 32em));
	}

	@media (max-width: $laptop) {
		.Spectate-filters > .input-wrap {
			width: 300em;
		}
	}

	@media (max-width: $tablet) {
		.Spectate-filters {
			flex-direction: column;
			gap: 16em;
		}
	}

	@media (max-width: $phone) {
		.Spectate-filters {
			font-size: 0.86em;
		}

		.Content-Versus {
			flex-direction: column;
		}
	}

	@media (max-width: 375px) {
		.Spectate-filters > .Filters-menus {
			flex-direction: column;
		}
	}

	@media (max-width: 320px) {
		font-size: 4rem;
	}
}