.MatchHistory {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 32em;

	.MatchHistory-filters {
		display: flex;
		justify-content: space-between;

		.input-wrap {
			width: 350em;
		}

		.Filters-menus {
			display: flex;
			gap: 16em;
		}
	}

	.MatchHistory-content {
		display: flex;
		flex-direction: column;
		gap: 16em;

		.Content-Versus {
			display: flex;
			border-radius: 6em;
			background: $background-600;
		}
	}

	@media (max-width: $laptop) {
		.MatchHistory-filters > .input-wrap {
			width: 300em;
		}
	}

	@media (max-width: $tablet) {
		.MatchHistory-filters {
			flex-direction: column;
			gap: 16em;
		}
	}

	@media (max-width: $phone) {
		.MatchHistory-filters {
			font-size: 0.86em;
		}

		.Content-Versus {
			flex-direction: column;
		}
	}

	@media (max-width: 375px) {
		.MatchHistory-filters {
			font-size: 0.75em;
		}
	}

	@media (max-width: 320px) {
		font-size: 4rem;
	}
}