.ProfileTag {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24em 40em;
	background: $background-600;
	border-radius: 6em;

	.ProfileTag-btnsWrap {
		display: flex;
		gap: 16em;
		height: 56em;

		.Status-2FA {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 18em;
			gap: 10em;
			height: 56em;
			border: none;
			border-radius: 6em;
			background: $background-700;

			.Status-value {
				font-family: 'Poppins';
				font-weight: 600;
				font-size: 16em;
				line-height: 100%;
				color: white;
			}
		}

		.Status-2FA--active {
			background: $cheat-blue;
		}
	}

	@media (max-width: $tablet) {
		font-size: 0.8em;
	}

	@media (max-width: $phone) {
		flex-direction: column;
		gap: 32em;
	}
}