.input-wrap {
	justify-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;

	input {
		width: 100%;
		color: white;
		border: none;

		&::placeholder {
			color: $white-200;
			font-weight: 400;
		}
		&:focus {
			outline: none;
		}
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			-webkit-box-shadow: 0 0 0 30px $background-700 inset !important;
			box-shadow: 0 0 0 50px $background-700 inset !important;
			-webkit-text-fill-color: white !important;
		}
	}
	input:focus + .inputLogo > svg {
		fill: white;
	}
	.inputLogo {
		position: absolute;
		svg {
			width: 100%;
			height: 100%;
			fill: $white-200;
		}
	}
	&:hover {
		input::placeholder {
			color: white;
			transition: color 150ms ease-in-out;
		}
		.inputLogo svg {
			fill: white;
			transition: fill 150ms ease-in-out;
		}
	}
}
