.input-wrap {
	justify-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;

	input {
		width: 100%;
		color: white;
		border: none;

		&::placeholder {
			color: #787B96;
		}
		&:focus {
			outline: none;
		}
	}
	.inputLogo {
		position: absolute;
		svg {
			width: 100%;
			height: 100%;
			fill: #787B96;
		}
	}
	&:hover {
		input::placeholder {
			color: white;
			transition: 150ms ease-in-out;
		}
		.inputLogo svg {
			fill: white;
			transition: 150ms ease-in-out;
		}
	}
}
