.Loader-spinner {
	margin-top: 5%;
	align-self: center;
	display: inline-block;
	position: relative;
}

.Loader-spinner div {
	animation: loaderSpinner-animation 1.2s linear infinite;
}
.Loader-spinner div:after {
	content: "";
	display: block;
	position: absolute;
	left: 46.25%;
	width: 7.5%;
	border-radius: 20%;
	background: white;
}
.Loader-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}
.Loader-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}
.Loader-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}
.Loader-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}
.Loader-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}
.Loader-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}
.Loader-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}
.Loader-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}
.Loader-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}
.Loader-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}
.Loader-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}
.Loader-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}
@keyframes loaderSpinner-animation {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
  