.ToolTip {
	max-width: 112em;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	visibility: hidden;

	.ToolTip-value {
		width: 100%;
		white-space : nowrap;
		line-height: 100%;
		letter-spacing: -0.01em;
		color: white;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.Tooltip--shiftR {
	left: unset;
	transform: unset;
	right: -16em;
}
.Tooltip--shiftL {
	left: 0;
	transform: unset;
}