.ToolTip {
	max-width: 112em;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	visibility: hidden;

	.ToolTip-value {
		width: 100%;
		white-space : nowrap;
		line-height: 100%;
		letter-spacing: -0.01em;
		color: white;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.Tooltip--shift {
	right: -16em;
}