.UserInfos {
	display: flex;
	align-items: center;
	gap: 16em;

	.UserInfos-avatar {
		// width: 64em;
		// height: 64em;
		border-radius: 50%;
	}

	.UserInfos-content {
		display: flex;
		flex-direction: column;
		gap: 8em;

		.Content-name {
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 600;
			font-size: 22em;
			line-height: 100%;
			color: white;
		}

		.Content-level {
			display: flex;
			flex-direction: column;
			gap: 6em;

			.Level-perCentWrap {
				display: flex;
				width: 200em;
				height: 6em;
				border-radius: 8em;

				.Level-perCent {
					display: flex;
					border-radius: 8em;
					height: 100%;
					box-shadow: inset 0em 4em 4em rgba(0, 0, 0, 0.1);
				}
			}

			.Level {
				font-family: 'Poppins';
				font-weight: 600;
				font-size: 14em;
				line-height: 100%;
				color: $white;
			}
		}
	}
}

.UserInfos--reverse {
	flex-direction: row-reverse;

	.UserInfos-content {
		align-items: flex-end;
	}

	.Content-level {
		align-items: flex-end;
	}

	.Level-perCentWrap {
		flex-direction: row-reverse;
	}
}

.UserInfos--XL {
	width: 320em;
	height: 96em;
	gap: 24em;

	.UserInfos-avatar {
		width: 96em;
		height: 96em;
	}

	.UserInfos-content {
		gap: 12em;

		.Content-name {
			font-size: 24em;
		}

		.Content-level {
			gap: 10em;
		}
	}
}

.UserInfos--XS {
	width: 180em;
	height: 52em;
	gap: 12em;

	.UserInfos-avatar {
		width: 52em;
		height: 52em;
	}

	.UserInfos-content {
		gap: 6em;

		.Content-name {
			font-size: 18em;
		}

		.Content-level {
			gap: 6em;

			.Level-perCentWrap {
				width: 116em;
				height: 4em;
			}

			.Level {
				font-size: 12em;
			}
		}
	}
}