@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$background-800: #1B1A26;
$background-700: #1F1E2C;
$background-600: #242635;
$background-500: #272938;

$white: #D3D6F2;
$white-200: #787B96;

$dark-blue: #0177FB;
$cheat-blue: #3092FF;

$green: #24F182;
$orange: #FF8A00;
$red: #FF4646;


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-moz-user-select: none; /* Firefox */
	-webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
	-ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
	user-select: none; /* Propriété standard */
}

html, body, #app {
	font-size: 0.0520833333vw;	// 1px in 1920px resolution
	width: 100%;
	height: 100%;
	background: $background-800;
	font-family: 'Poppins';
}

#app {
	position: relative;
}

button {
	font-size: 1em;
	cursor: pointer;
	border: none;
	font-weight: 400;
}

input {
	-moz-user-select: text; /* Firefox */
	-webkit-user-select: text; /* Chrome, Safari, Opéra depuis la version 15 */
	-ms-user-select: text; /* Internet explorer depuis la version 10 et Edge */
	user-select: text; /* Propriété standard */
}

$laptopL: 1440px;	// xl
$laptop: 1024px;	// lg
$tablet: 768px;		// md
$phone: 480px;		// sm
