.game__content {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	height: 100%;
	width: 100%;
	
	.game__header {
		display: flex;
		background-color: $background-600;
		border-radius: 6em;
	}

	.game__canvas_container {
		display: flex;
		width: 100%;
		height: 100%;
		background: linear-gradient(to right, $dark-blue, $red);
		border-radius: 6em;
		padding: calc(100% * 0.006);
		column-gap: calc(100% * 0.006);
		position: relative;
	
		.game__canvas_background {
			width: inherit;
			height: 100%;
			background: $background-600;
			border-radius: 6em;
		}

		.game__canvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.game__content_countdown {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
		background: rgba(31, 30, 44, 0.75);
		backdrop-filter: blur(2px);

		.game__content_countdown_content {
			display: flex;
			flex-direction: column;
			row-gap: 20em;
			align-items: center;
			justify-content: center;
			padding: 60em;

			h1 {
				font-size: 120em;
				color: white;
				line-height: 100%;
				font-weight: semibold;
			}
			h2 {
				font-size: 24em;
				color: $white-200;
				line-height: 100%;
				font-weight: 400;
			}
		}
	}
	@media (max-width: $phone) {
		.game__header {
			flex-direction: column;
		}
	}
	@media (max-width: 320px) {
		font-size: 4.6rem;
	}
}

.game__canvas_leave {
	position: absolute;

	display: flex;
	bottom: 30em;
	left: 30em;

	button {
		pointer-events: cursor;
		padding: 12em;
		border: 2em solid $red;
		border-radius: 6em;
		background-color: rgba(255, 70, 70, 0.1);
	
		.game__canvas_leave_btn {
			font-size: 14em;
			color: $red;
		}
	}

	@media (max-width: 320px) {
		font-size: 4.4rem;
	}
}
