.Modal-BtnWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16em;
	.Btn {
		transition: opacity .2s;
		&:hover {
			opacity: 0.9;
		}
	}
	.Queue-value {
		font-size: 20em;
		line-height: 100%;
		color: white;
		&::after {
			content: " players in queue";
			color: $white-200;
		}
	}
}

.BtnWrapper--row {
	flex-direction: row;
	gap: 24em;
}