.NavBar-wrapper {
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
	padding: 24px 64px;
	background: #1F1E2C;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

	.NavBarList-options {
		height: 52px;
		padding: 0 200rem;

		.NavBar-options {
			display: flex;
		}
	}


	.NavBar {
		box-sizing: border-box;
		// padding: 24px 64px;
		width: 100%;
		max-width: 1792px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		// box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

		.NavBarList-logo {
			display: none;
			cursor: pointer;
		}

		.NavBar-logo svg {
			width: 84px;
			height: 66px;
			fill: white;
		}

		.NavBar-content {
			display: flex;
			gap: 96rem;
		}

		.UserInfos{
			.User-optionsWrap {
				position: absolute;
				right: 64px;
				top: 76px;
				z-index: 1;
				width: 180px;
				height: 110px;
				padding: 10px 20px 0px 20px;
				justify-content: center;
				gap: 6px;
				display: flex;
				flex-direction: column;
				background: no-repeat center/100% url(../assets/message.svg);
				visibility: hidden;

				.User-options {
					font-family: 'Poppins';
					font-size: 12rem;
					text-decoration: none;
					color: #1F1E2C;

					border: none;
					text-align: left;
					background-color: white;
					font-weight: bold;
					&:hover {
						transition: 300ms;
						-ms-transform: scale(1.1); /* IE 9 */
						-webkit-transform: scale(1.1); /* Safari 3-8 */
						transform: scale(1.025);
					}
				}
			}
			&:hover {
				.User-optionsWrap {
					visibility: visible;
				}
			}
		}
	}

	@media (max-width: $laptopL) {
		padding: 24px 42px;
		.NavBar {
			.NavBar-logo svg {
				width: 66px;
				height: 52px;
			}
			.NavBar-content {
				gap: 112rem;
			}
		}
	}

	@media (max-width: $tablet) {
		padding: 24px 32px;
			.NavBar {
			.NavBarList-logo {
				display: block;
				width: 30px;
				margin-right: 150px;
			}
			.Content-options {
				display: none;
			}
		}

		// .User-options {
		// 	left: calc(100vw - (30px + 220px));
		// }
	}
	@media (max-width: 580px) {
			.NavBar {
			.NavBarList-logo {
				margin-right: 22px;
			}
			.UserInfos {
				width: 52px;
				.UserInfos-content {
					display: none;
				}
			}
		}
	}
}