.Navbar-wrapper {
	font-size: 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24em 64em;
	background: $background-700;
	box-shadow: 0 4em 6em rgba(0, 0, 0, 0.2);
	position: relative;

	.Navbar {
		width: 100%;
		max-width: 1792px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.NavbarList-logo {

			display: none;
			cursor: pointer;
		}

		.Navbar-logo {
			cursor: pointer;
			width: 84em;
			height: 66em;
			svg {
				width: 100%;
				height: 100%;
				fill: white;
			}
		}

		.Navbar-content {
			display: flex;
			gap: 96em;
		}

		.UserInfos {
			position: relative;
			&:hover {
				.UserMenu-wrap {
					visibility: visible;
				}
			}
		}
	}

	.NavbarList-options {
		display: flex;
		justify-content: center;
		position: absolute;
		z-index: 4;
		top: 100%;
		width: 100%;
		padding: 0 0 20em 0;
		background: $background-700;
		box-shadow: 0 6em 6em rgba(0, 0, 0, 0.3);

		.NavbarSectionSelector {
			display: flex;
			flex-direction: column;
			height: auto;

			.Options-link {
				height: 42em;
			}
		}
	}

	@media (max-width: $laptopL) {
		padding: 24em 42em;
		.Navbar {
			.Navbar-logo {
				width: 66em;
				height: 52em;
			}
			.Navbar-content {
				gap: 40em;
			}
		}
	}

	@media (max-width: $tablet) {
		padding: 24em 32em;
		.Navbar {
			.NavbarList-logo {
				display: block;
				width: 30em;
				height: 30em;
				margin-right: 150em;
				svg {
					width: 100%;
					height: 100%;
				}
			}
			.Content-options {
				display: none;
			}
		}
	}

	@media (max-width: 580px) {
			.Navbar {
			.NavbarList-logo {
				margin-right: 22em;
			}
			.UserInfos {
				width: 52em;
				.UserInfos-content {
					display: none;
				}
			}
		}
	}

	@media (max-width: 320px) {
		font-size: 6rem;
	}
}