.NavbarSectionSelector {
	font-size: 1em;
	display: flex;
	align-items: center;
	height: 52em;
	gap: 32em;

	.Options-link {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0em 8em;
		gap: 8em;
		color: $white-200;
		text-decoration: none;
		position: relative;

		.Link-value {
			font-family: 'Poppins';
			font-weight: 500;
			font-size: 20em;
		}

		.Link-logo {
			fill: $white-200;
			width: 24em;
			height: 24em;
			svg {
				width: 100%;
				height: 100%;
			}
		}

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 3em;
			bottom: 3em;
			left: 0;
			transform: scaleX(0);
			background: $white-200;
			transform-origin: bottom right;
			transition: transform 0.5s ease-out;
			border-radius: 10em;
		}
		&:hover:after {
			color: rgb(45, 54, 72);
			transform: scaleX(1);
			transform-origin: bottom left;
		}
	}
	.Link--selected {
		color: white;
		.Link-logo {
			fill: white;
		}
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 3em;
			bottom: 3em;
			left: 0;
			transform: scaleX(0);
			background: white;
			transform-origin: bottom right;
			transition: transform 0.5s ease-out;
			transform: scaleX(1);
			transform-origin: bottom left;
			border-radius: 10em;
		}
	}

	@media (max-width: $laptopL) {
		height: 46em;
		gap: 16em;

		.Options-link {
			padding: 0em 8em;
			gap: 6em;
		
			.Link-value {
				font-size: 16em;
			}

			.Link-logo {
				width: 20em;
				height: 20em;
			}

			&:after {
				height: 2em;
				bottom: 4em;
			}
		}
		.Link--selected {
			&:after {
				height: 2em;
				bottom: 4em;
			}
		}
	}
}