.ActionBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32em;
	height: 32em;
	background: $background-600;
	border: none;
	border-radius: 50%;
	position: relative;

	.ActionBtn-logo {
		width: 16em;
		height: 16em;
		svg {
			top: 0;
			width: 100%;
			height: 100%;
			fill: $white-200;
		}
	}

	&:hover {
		.ActionBtn-logo svg {
			fill: white;
			transition: fill 150ms ease-in-out;
		}
		.ToolTip {
			visibility: visible;
		}
	}
}

.ActionBtn--mute {
	background: #FF8A00;
	.ActionBtn-logo > svg {
		fill: white;
	}

	&:hover {
		background: rgba(255, 138, 0, 0.5) !important;
		transition: background 150ms ease-in-out;
		.ActionBtn-logo > svg {
			transition: fill 150ms ease-in-out;
			fill: $white-200;
		}
	}
}

.ActionBtn--ban {
	background: $red;
	.ActionBtn-logo > svg {
		fill: white;
	}

	&:hover {
		background: rgba(227, 47, 47, 0.5) !important;
		transition: background 150ms ease-in-out;
		.ActionBtn-logo > svg {
			transition: fill 150ms ease-in-out;
			fill: $white-200;
		}
	}
}