.ChanSettings {
	width: 100%;
	height: 100%;
	padding: 32em 16em 16em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32em;

	.Settings-infos {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 24em;
		width: 100%;

		.Infos-content {
			display: flex;
			flex-direction: column;
			flex: 1;
			gap: 8em;
		}
	}

	.Settings-btns {
		display: flex;
		gap: 16em;
	}

	.Btn--inactive {
		cursor: initial;
		opacity: 0.2 !important;
	}
}