.Conv-content {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8em;

	.Content-msg {
		width: 100%;
		background: $cheat-blue;
		border-radius: 16em;
		padding: 6em 12em;

		.Msg-value {
			font-size: 18em;
			line-height: 100%;
			color: white;
		}
	}
}