.ConvTag {
	display: flex;
	align-items: center;
	padding: 16em;
	width: 100%;
	background: $background-700;
	box-shadow: 4em 4em 6em rgba(0, 0, 0, 0.3);
	border-radius: 6em;

	.ConvTag-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		gap: 16em;

		.ConvTag-infos {
			display: flex;
			align-items: center;
			gap: 16em;

			.Infos-avatar {
				width: 64em;
				height: 64em;
				border-radius: 50%;
			}
			.Infos-content {
				display: flex;
				flex-direction: column;
				gap: 6em;

				.Infos-nameWrap {
					display: flex;
					align-items: center;
					gap: 8em;

					.Infos-name {
						color: white;
						font-size: 16em;
						font-weight: 600;
						line-height: 100%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						-moz-user-select:text; /* Firefox */
						-webkit-user-select: text; /* Chrome, Safari, Opéra depuis la version 15 */
						-ms-user-select: text; /* Internet explorer depuis la version 10 et Edge */
						user-select: text; /* Propriété standard */
					}
				}

				.Infos-options {
					display: flex;
					align-items: center;
					gap: 8em;
					.ToolTip {
						background: #2e3042;
					}
				}
			}
		}

		.Infos-CreateDate {
			font-weight: 500;
			font-size: 14em;
			line-height: 100%;
			color: rgba(255, 255, 255, 0.75);
		}

		.ConvTag-BtnsWrap {
			display: flex;
			align-items: center;
			gap: 8em;

			.ConvTag-Btns {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 48em;
				height: 48em;
				background: $background-600;
				border-radius: 6em;
				border: none;

				.ConvTag-Btns-logo {
					width: 24em;
					height: 24em;
					svg {
						width: 100%;
						height: 100%;
						fill: white;
					}
				}

				&:hover {
					background: $dark-blue;
					transition: background 150ms ease-in-out;
				}
			}

			.ConvTag-Btns--smallLogo {
				.ConvTag-Btns-logo {
					width: 20em;
					height: 20em;
				}
			}
		}
	}
}