.message {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.message__created_at {
	margin-bottom: 10em;
	margin-top: 30em;
	.created_at_value {
		font-size: 14em;
		color: $white-200;
	}
}

.message__content {
	width: 100%;
	display: flex;
	color: white;
	align-items: flex-end;
	column-gap: 10em;
	position: relative;

	&.current {
		justify-content: right;
	}

	&.same_user {
		padding-left: 43em;
	}

	&.other_user {
		margin-bottom: 10em;
	}

	img {
		width: 32em;
		height: 32em;
		border-radius: 50%;
	}
	.ToolTip-container {
		position: absolute;
		z-index: 10;
		width: 32em;
		height: 32em;
		cursor: pointer;
		&:hover {
			.ToolTip {
				visibility: visible;
			}
		}
	}

	.message__value__wrapper {
		padding: 8em 16em;
		background-color: $background-700;
		border-radius: 18em;
		max-width: 70%;
		word-wrap: break-word;
		.message__value {
			font-size: 14em;
		}

		&.current {
			background-color: $cheat-blue;
		}
	}
}