.newChan-contentWrap {
	width: 100%;
	height: calc(100% - (96em + 2 * 32em + 48em));
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8em;

	.Content-btns {
		width: 100%;
		display: flex;
		margin-bottom: 24em;
	}

	.newChan-content {
		display: flex;
		flex-direction: column;
		width: 100%;
		flex: 1;
		border-radius: 6em;
		gap: 8em;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */

		.Content-noResult {
			font-size: 18em;
			color: white;
			text-align: center;
		}
	}
}

.ContentWrap--protected {
	height: calc(100% - (96em + 42em + 48em + 3 * 32em));
}