.OptionBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32em;
	height: 32em;
	background: #242635;
	border: none;
	border-radius: 50%;
	position: relative;

	.OptionBtn-logo {
		width: 16em;
		height: 16em;
		svg {
			top: 0;
			width: 100%;
			height: 100%;
			fill: #787B96;
		}
	}

	&:hover {
		.OptionBtn-logo svg {
			fill: white;
			transition: fill 150ms ease-in-out;
		}
		.ToolTip {
			visibility: visible;
		}
	}
}