.BodyLayout-sidebar {
	width: 450rem;
	font-size: 1rem;
	border-radius: 16em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #242635;
	box-shadow: 4em 4em 6em rgba(0, 0, 0, 0.3);

	.SideBar-sectionsBtns {
		width: 100%;
		display: grid;
		grid-template: 72em / 42% 42% 16%;

		.SectionsBtns {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1em;
			gap: 8em;
			border-radius: 0;
			background: #1F1E2C;
			border: none;
			&:first-child {
				border-radius: 16em 0 0 0;
			}
			&:last-child {
				border-radius: 0 16em 0 0;
			}
			.SectionsBtns-value {
				font-family: 'Poppins';
				font-size: 18em;
				font-weight: 600;
				line-height: 100%;
				color: #787B96;
			}
			.SectionsBtns-Logo {
				width: 24em;
				height: 24em;
				svg {
					width: 100%;
					height: 100%;
					fill: #787B96;
				}
			}
			.Notif-active {
				animation: notifWiggle 5s linear infinite;
			}
		}
		.SectionBtns--selected {
			background: #242635;
			.SectionsBtns-value {
				color: white;
			}
			.SectionsBtns-Logo svg {
				fill: white;
			}
		}
	}

	.SideBar-switch {
		margin-bottom: 16em;
	}

	@media (max-width:1200px) {
		font-size: 0;
		position: absolute;
		top: calc(98px + 30px);
		right: 0;
		width: 50px;
		height: calc(100vh - 98px - 64px);
		box-shadow: -4em 4em 6em rgba(0, 0, 0, 0.3);
		.SideBar-sectionsBtns,
		.SideBar-content-wrap,
		.SideBar-newChan
		{
			visibility: hidden;
		}
		&:hover {
			width: 450px;
			font-size: 1px;
			.SideBar-sectionsBtns,
			.SideBar-content-wrap,
			.SideBar-newChan {
				visibility: visible;
			}
		}
	}

	@media (max-width: 400px) {
		&:hover {
			width: 75vw;
			font-size: 5.5vw;
		}
	}
	@media (max-width: 320px) {
		left: calc(320px - 50px);
		&:hover {
			left: calc(320px - (75vw + 2em + 2px));
		}
	}
}

@keyframes notifWiggle {
	0%, 2% {
		transform: rotateZ(0);
	}
	5% {
		transform: rotateZ(40deg);
	}
	8% {
		transform: rotateZ(-30deg);
	}
	11% {
		transform: rotateZ(25deg);
	}
	13% {
		transform: rotateZ(-20deg);
	}
	16% {
		transform: rotateZ(15deg);
	}
	16%, 100% {
		transform: rotateZ(0);
	}
}