.SidebarTag {
	display: flex;
	flex-direction: column;
	border-radius: 6em;
	background: $background-700;
	padding: 16em;
	cursor: pointer;
	position: relative;
	overflow: hidden;

	.SidebarTag-content {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 16em;

		.Content-avatar {
			width: 64em;
			height: 64em;
			border-radius: 50%;
		}

		.Content-infos {
			display: flex;
			flex-direction: column;
			gap: 6em;
			width: 306em;

			.Infos-nameWrap {
				width: 100%;
				display: flex;
				align-items: center;
				gap: 8em;

				.Infos-name {
					color: white;
					font-size: 18em;
					font-weight: 600;
					line-height: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					cursor: auto;
					-moz-user-select:text; /* Firefox */
					-webkit-user-select: text; /* Chrome, Safari, Opéra depuis la version 15 */
					-ms-user-select: text; /* Internet explorer depuis la version 10 et Edge */
					user-select: text; /* Propriété standard */
				}
			}

			.LastMsgWrap {
				display: flex;
				flex-direction: column;
				width: 240em;

				.LastMsg {
					width: 100%;
					align-self: flex-start;
					font-style: normal;
					font-weight: 500;
					font-size: 14em;
					line-height: 100%;
					padding-bottom: 2px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: rgba(255, 255, 255, 0.5);
				}
			}
		}
	}

	.SidebarTag-options {
		display: flex;
		width: 100%;
		gap: 16em;
		opacity: 0;
		height: 0;
		transition: height 500ms ease, opacity 180ms ease, margin-top 500ms ease;
		position: relative;

		.SidebarTag-btn {
			width: 100%;
			height: 0;
			transition: height 500ms ease;
		}
	}

	.SidebarTag-options--protected {
		flex-direction: column;

		.input-wrap {
			min-height: 0;
			height: 0;
			transition: height 500ms ease;
		}
	}

	&:hover {
		.SidebarTag-options {
			animation: 500ms ease slidein;
			opacity: 1;
			margin-top: 16em;
			height: 44em;
			.SidebarTag-btn {
				height: 44em;
			}
		}
		.SidebarTag-options--protected {
			animation: 500ms ease slidein2;
			height: calc(2 * 40em + 16em);
			.input-wrap	{
				height: 40em;
				input {
					height: auto;
				}
				.inputLogo {
					animation: 500ms ease slideininputLogo;
					opacity: 1;
				}
			}
			.SidebarTag-btn {
				height: 40em;
			}
			.SidebarTag-btn--inactive {
				cursor: default;
				opacity: 0.5;
			}
		}
	}

	&.countdown::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		height: 3px;
		background: $dark-blue;
		z-index: 1;
	}
}

@keyframes slidein {
	from {
		height: 0;
		opacity: 0;
	}
	to {
		height: 44em;
		opacity: 1;
	}
}

@keyframes slidein2 {
	from {
		height: 0;
		opacity: 0;
	}
	to {
		height: calc(2 * 40em + 16em);
		opacity: 1;
	}
}

@keyframes slideininputLogo {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		top: 12em;
		opacity: 1;
	}
}