.SideBarTag {
	display: flex;
	flex-direction: column;
	border-radius: 6em;
	background: $background-700;
	padding: 16em;
	cursor: pointer;

	.SideBarTag-content {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 16em;

		.Content-avatar {
			width: 64em;
			height: 64em;
			border-radius: 50%;
		}

		.Content-infosWrap {
			display: flex;
			flex-direction: column;
			gap: 6em;
			width: 306em;

			.Content-infos {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.Infos-nameWrap {
					display: flex;
					align-items: center;
					gap: 8em;

					.Infos-name {
						color: white;
						font-size: 18em;
						font-weight: 600;
						line-height: 100%;
					}
				}
			}

			.LastMsgWrap {
				display: flex;
				flex-direction: column;
				width: 240em;

				.LastMsg {
					width: 100%;
					align-self: flex-start;
					font-style: normal;
					font-weight: 500;
					font-size: 14em;
					line-height: 100%;
					padding-bottom: 2px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: rgba(255, 255, 255, 0.5);
				}
			}
		}
	}

	.SideBarTag-options {
		display: flex;
		width: 100%;
		gap: 16em;
		opacity: 0;
		height: 0;
		transition: height 500ms ease, opacity 180ms ease, margin-top 500ms ease;
		.SideBarTag-btn {
			height: 0;
			transition: height 500ms ease;
		}
	}

	.SideBarTag-options--protected {
		flex-direction: column;

		.input-wrap {
			min-height: 0;
			height: 0;
			transition: height 500ms ease;
		}
	}

	&:hover {
		.SideBarTag-options {
			animation: 500ms ease slidein;
			opacity: 1;
			margin-top: 16em;
			height: 44em;
			.SideBarTag-btn {
				height: 44em;
			}
		}
		.SideBarTag-options--protected {
			animation: 500ms ease slidein2;
			height: calc(2 * 40em + 16em);
			.input-wrap	{
				height: 40em;
				input {
					height: auto;
				}
				.inputLogo {
					animation: 500ms ease slideininputLogo;
					opacity: 1;
				}
			}
			.SideBarTag-btn {
				height: 40em;
			}
		}
	}
}

@keyframes slidein {
	from {
		height: 0;
		opacity: 0;
	}
	to {
		height: 44em;
		opacity: 1;
	}
}

@keyframes slidein2 {
	from {
		height: 0;
		opacity: 0;
	}
	to {
		height: calc(2 * 40em + 16em);
		opacity: 1;
	}
}

@keyframes slideininputLogo {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		top: 12em;
		opacity: 1;
	}
}