.SideBar-newChan {
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 72em);
	padding: 32em 16em 16em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32em;

	.newChan-infos {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 24em;
		width: 100%;

		.Infos-inputFile {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}

		.Infos-upload {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: calc(96em - 4px);
			height: calc(96em - 4px);
			background: #1F1E2C;
			border: 2px dashed #787B96;
			border-radius: 50%;
			color: #787B96;
			gap: 6em;
			cursor: pointer;
			.Upload-value {
				font-weight: 600;
				font-size: 12em;
				line-height: 100%;
			}
			.Upload-logo {
				width: 24em;
				height: 24em;
				svg {
					width: 100%;
					height: 100%;
					fill: #787B96;
				}
			}
			&:hover {
				border: 2px dashed rgba(255, 255, 255, 0.75);
				background: #272938;
				color: rgba(255, 255, 255, 0.75);
				transition: 150ms ease-in-out;
				.Upload-logo svg {
					fill: rgba(255, 255, 255, 0.75);
					transition: 150ms ease-in-out;
				}
			}
		}

		.Infos-img {
			width: 96em;
			height: 96em;
			border-radius: 50%;
			cursor: pointer;
		}

		.Infos-content {
			display: flex;
			flex-direction: column;
			flex: 1;
			gap: 8em;

			.Content-statusBtns {
				display: flex;
				gap: 8em;

				.StatusBtn {
					background: #1F1E2C;
					border: none;
					border-radius: 6em;
					padding: 12em 16em;

					.StatusBtn-value {
						font-family: 'Poppins';
						font-weight: 600;
						font-size: 12em;
						line-height: 100%;
						letter-spacing: -0.01em;
					}
				}
				.StatusBtn-public {
					color: #24F182;
					&:hover {
						background: #244E44;
					}
				}
				.StatusBtn-protected {
					color: #FF8A00;
					&:hover {
						background: #87531D;
					}
				}
				.StatusBtn-private {
					color: #FF4646;
					&:hover {
						background: #70323C;
					}
				}
				.StatusBtn-public--selected {
					color: #24F182;
					border: 2px solid #24F182;
					padding: calc(12em - 2px) calc(16em - 2px);
				}
				.StatusBtn-protected--selected {
					color: #FF8A00;
					border: 2px solid #FF8A00;
					padding: calc(12em - 2px) calc(16em - 2px);
				}
				.StatusBtn-private--selected {
					color: #FF4646;
					border: 2px solid #FF4646;
					padding: calc(12em - 2px) calc(16em - 2px);
				}
			}
		}
	}

	.newChan-btns {
		width: 100%;
		display: flex;
		gap: 16em;
	}
}