.Status {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4em;
	border-radius: 6em;

	.Status-value {
		font-size: 12em;
		font-weight: 600;
		line-height: 100%;
		letter-spacing: -0.01em;
	}
}

.Status--Online {
	width: 59em;
	color: #24F182;
	border: 2px solid #24F182;
}
.Status--Public {
	width: 57em;
	color: #24F182;
	border: 2px solid #24F182;
}
.Status--Offline {
	width: 59em;
	color: #787B96;
	border: 2px solid #787B96;
}
.Status--Protected {
	width: 79em;
	color: #FF8A00;
	border: 2px solid #FF8A00;
}
.Status--inGame {
	width: 71em;
	color: #FF8A00;
	border: 2px solid #FF8A00;
}
.Status--Private {
	width: 63em;
	color: #FF4646;
	border: 2px solid #FF4646;
}

.Status--users {
	display: flex;
	align-items: center;
	padding: 8em 10em;
	border-radius: 6em;
	background: #242635;
	color: white;

	.Status-value {
		font-size: 12em;
		font-weight: 600;
		line-height: 100%;
		letter-spacing: -0.01em;
	}
}
