.UserTag {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12em 16em;
	background: rgba(31, 30, 44, 0.5);
	border-radius: 6em;

	.UserTag-infos {
		display: flex;
		gap: 12em;
		.UserTag-avatar {
			width: 32em;
			height: 32em;
			border-radius: 50%;
		}

		.UserTag-userNameWrap {
			display: flex;
			align-items: center;
			justify-content: center;
			background: $background-700;
			border-radius: 24em;
			padding: 0 16em;
			.UserTag-userName {
				font-weight: 500;
				font-size: 16em;
				line-height: 100%;
				color: white;
			}
		}
	}

	.UserTag-options {
		display: flex;
		gap: 16em;

		.ActionBtn {
			opacity: 0;
		}
	}

	&:hover {
		.UserTag-userNameWrap {
			background: $dark-blue;
			transition: background 150ms ease-in-out;
		}
		.ActionBtn {
			opacity: 1;
			transition: opacity 150ms ease-in-out;
			transition: background 150ms ease-in-out;
		}
	}
}

.UserTag--me {
	background: #1e2030;
	// background: rgba(27, 26, 39, 0.5);
	background: rgba(31, 30, 44, 1);
	.UserTag-infos{
		.UserTag-userNameWrap {
			background: #1c1c27;
		}
	}

	&:hover {
		.UserTag-userNameWrap {
			background: $dark-blue;
			transition: background 150ms ease-in-out;
		}
	}
}