.Notifications {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;	//
	position: absolute;
	left: 0;
	top: 20em;
	gap: 12em;
	z-index: 2;
	// transition: height .5s ease-in-out;
	// background: red;
}